
h1 {
	text-align: center;
	font-size: 5em;
	border-top: 3px solid transparent;
}
h2 {
	text-align: center;
	font-size: 3.5em;
}
.transparent {
	opacity: 0;
}

h3.text-danger{
	border-top: 3px solid #444;
}
a {
	text-decoration: none !important;
}
.container {
	width: 100%;
}

.top-border {
	border-top: 3px solid #444;	
}
header {
	min-height: 142px;
}
@media (max-width: 767px) {
	.container {


	}
	#screen-below {
		position: static !important;
	}
}

@media (min-height: 465px) and (min-width: 768px) and (max-width: 1199px) {
	.container {
		width: 100%;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
	}
}

@media (min-height: 350px) and (min-width: 1200px){
	.container {
		width: 100%;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
	}
}

.fade {
    opacity: 0;
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    transition: opacity 1s linear;
}

#screen-below {
	position: absolute;
	top: 100%;
	width: 100%;
	min-height: 100%;
	padding-top: 10px;
	background-color: #3a87ad;
	padding-bottom: 50px;
}

.center-pills { 
	display: inline-block; 
}

#projectsContainer {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;

}
img {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}
a {
	cursor: pointer;
}
a.btn-default:hover {
	color: white;
}

ul.nav.nav-pills li a {
	color: white;
}
ul.nav.nav-pills li.active a:hover {
	color: white;
}
ul.nav.nav-pills li a:hover {
	color: #3a87ad;
}
#portfolioHeading {
	color: white;
	margin-bottom: 22px;
}
.white-text {
	color: white;
}
#scroll-chevron-down {
	position: absolute;
	left: calc(50% - 33px);
	bottom: 0px;
	font-size: 30px;
	padding: 20px;
	cursor: pointer;
}
#scroll-chevron-up {
	position: absolute;
	left: calc(50% - 33px);
	bottom: 0px;
	font-size: 30px;
	padding: 20px;
	cursor: pointer;
}