
h1 {
	text-align: center;
	font-size: 5em;
	border-top: 3px solid transparent;
}
h2 {
	text-align: center;
	font-size: 3.5em;
}

h3.text-primary{
	border-top: 3px solid #444;
}
a {
	text-decoration: none !important;
}
.container {
	width: 100%;
}

.top-border {
	border-top: 3px solid #444;	
}

@media (min-height: 465px) and (min-width: 768px) and (max-width: 1199px) {
	.container {
		width: 100%;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
	}
}

@media (min-height: 350px) and (min-width: 1200px){
	.container {
		width: 100%;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
	}
}

.fade {
    opacity: 0;
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    transition: opacity 1s linear;
}
.fade.in {
  opacity: 1;
}
.fade.out {
	opacity: 0;
}